---
permalink: /
title:
excerpt: "About me"
author_profile: true
redirect_from:
- /about/
- /about.html
---

<h1 class="page__title">About Me</h1>

<p>
  My name is <b>Chuanyu Li</b>, and my avatar's little bear is called <b>duidui</b>. <br />
<!-- <details>
  <summary><small style="color:gray">More about those names?</small></summary>
  <span style="color:gray">
    <p><b>Chinese name.</b> My name is 袁 (Yuan) 小迪 (Xiaodi) in Chinese. Xiaodi is pronounced like "see-Aw-dee", and Yuan is pronounced like "yoo-An". </p>
    <p><b>Why Ada?</b> I chose this name because (a) I know Xiaodi is hard to pronounce (and it's okay); (b) Ada is lexicographically small; (c) <code>"ada"</code> is a subsequence of <code>"xiaodi yuan"</code>; (d) actually, I named myself after world's first computer programmer, <a href="https://en.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace</a>.</p>
  </span>
</details> -->
</p>
<p>
  I am a senior student at Sichuan University.
  I am also a visiting student at the RVSA Lab at Tsinghua University, advised by Prof. <a href="https://cray695.wixsite.com/mysite">Rui Chen</a>.
</p>

<p>My research interests are Robotics and Tactile Sensor.</p>

<!-- <h2 class="page__title">Fun Fact</h2>

<p>I appeared on Google Maps Street View <a href="https://www.google.com/maps/@32.8771832,-117.234145,3a,15y,189.69h,82.74t/data=!3m6!1e1!3m4!1s9YyvL52QfKw0LHr4dgWk7A!2e0!7i16384!8i8192?entry=ttu">here</a>!
  <br />
  <img src="/images/google-street-view.jpg" alt="Google Street View" style="width:100%;max-width:400px;" />
</p> -->

<hr class="page__hr"/>

<h1 class="page__title">Publications <a href="publications">[More]</a></h1>

{% for post in site.publications reversed %}
{% include archive-single.html %}
{% endfor %}

<hr class="page__hr"/>

<h1 class="page__title">Projects <a href="projects">[More]</a></h1>

{% for post in site.projects reversed %}
{% include archive-single.html %}
{% endfor %}
